<!DOCTYPE html>
<html lang="en" ng-app="forumApp">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!-- <base href="/"> -->

      <title>Forum</title>
      <base href="/">
      <!-- NOTE: CDN & NPM/Bower Links-->
      <!-- Angular -->
      <script type="text/javascript" src="/vendor/angular/angular.js"></script>
      <script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
      <script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
      <!-- jQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <!-- jQuery-UI -->
      <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <!-- Bootstrap (css & js)-->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <!-- Ion Icons (may not need) -->
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

      <!-- Local -->
      <!-- Stylesheets -->
      <link rel="stylesheet" href="/stylesheets/main.css">
      <!-- Javascripts -->
      <script type="text/javascript" src="/javascripts/app.js"></script>
      <script type="text/javascript" src="/javascripts/main.js"></script>
      <script type="text/javascript" src="/javascripts/services.js"></script>
      <script type="text/javascript" src="/javascripts/controllers.js"></script>



   </head>
   <body ng-controller="mainCtrl as main">
      <% include ../public/partials/navbar.html %>
      <!-- <div ng-include="/partials/navbar.html"></div> -->
      <div class="container">

         <!-- NAVBAR -->
         <header>
            <div class="page-header">
               <h1>Forum</h1>
            </div>
         </header>

         <div>
            <p>Hello</p>
            <hr>
            <h2 id="sanity">CSS Sanity</h2>
            <hr>
         </div>

         <!-- <a href="/login"><button class="btn btn-lg btn-success">Login</button></a> -->
         <!-- <a href="/sign-up"><button class="btn btn-lg btn-primary">Signup</button></a> -->

         <!-- <div ng-view></div> -->


         <!--

         NOTE: All I am doing at this point is trying to add a user and log them in. Most js files at this point are copies of WDI solution files. They are indicated by a slash bar and wide space at the top of the file. These will not be used in creation, at this point they are mearly references.

         TODO: Finish with user sign up, then work at creating the post/comment UI of the forum.
         -->

         <hr>
         <br>
         <hr>

         <div id="testing-wrap">
            <p>NAV</p>
            <!-- <div ng-include="'/partials/navbar.html'"></div> -->
            <!-- <div ng-include="'../public/partials/nav.ejs'"></div> -->
            <!-- <% include ../public/partials/nav.ejs %> -->
            <% include ../public/partials/navbar.html %>
            <p>END NAV</p>

            <a href="/login"><button class="btn btn-lg btn-success">Login</button></a>
            <a href="/sign-up"><button class="btn btn-lg btn-primary">Signup</button></a>

            <hr>
            <br>
            <p>Pre-ng-view</p>
            <hr>

            <div class="col-md-10 col-md-offset-1" id="view-wrap">
               <div ng-view></div>
            </div>
         </div>

         <hr>
         <br>
         <hr>
         <br>
         <hr>

         <div>
            <p>After ng-view</p>
         </div>


         <!-- content -->

         <footer>
         </footer>
      </div>
   </body>
</html>
