<div class="col-md-4 col-md-offset-4" id="login-wrap">
   <h1>Login</h1>

   <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

   <form class="form" ng-submit="login()">
      <div class="form-group">
         <input type="text" class="form-control" name="username" ng-model="loginForm.username" placeholder="Username" required>
         <input type="password" class="form-control" name="password" ng-model="loginForm.password" placeholder="Password" required>
         <div>
            <button type="submit" class="btn btn-info" ng-disabled="disabled">Login</button>
         </div>
      </div>
   </form>

   <div>
      <p>Not a member? <a href="./sign-up">Sign Up</a></p>
   </div>
</div>
