<div id="post-index-wrap">
   <h1 class="pull-left">Posts</h1>

   <div class="row" id="creat-post-wrap">
      <form ng-submit="createPost()">
         <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="post.title" placeholder="title" required>
            <textarea class="form-control" ng-model="post.content" placeholder="Type here..." required>
            </textarea>
            <div>
               <button type="submit" class="btn btn-info btn-lg">Create Post</button>
            </div>
         </div>
      </form>
   </div>

   <div class="row">
      <div id="posts-wrap">
         <ul class="list-group" ng-repeat="post in posts">
            <li class="list-group-item"><h4>{{post.title}} <small>{{post.dateCreated}}</small></h4></li>
            <li class="list-group-item">
               <p>{{post.content}}</p>
               <a href="#" class="pull-right" ng-click="deletePost(post)">
                  <i class="icon ion-close-circled"></i>
               </a>
            </li>
         </ul>
      </div>
   </div>




</div>
